  <!-- post-container -->
            <div class="post-container">
                <h1>Errors : <%= status %></h1>
             <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong> <%= message %>
             </div>
                </div>
 <!-- /post-container -->